.About-section {
    min-height: auto;
    max-height: auto;
    background-color: #1A5319;
    padding: 5%;
}

.about-info {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 90px;
    row-gap: 30px;
}

.info-text {
    flex-basis: 50%;
}

.info-image {}

.info-img-inner-01 {
    height: 220px;
    width: 200px;
    border-radius: 10px;
    padding: 1%;
    z-index: 20;
}

.info-img-inner-02 {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    padding: 2%;
    border: 1px solid white;
    position: relative;
    z-index: 20;
}

.upper {
    top: 40px;
    left: 2px;
}

.lower {
    bottom: 40px;
    right: 1px;
}

.info-img-inner-02:hover {
    transform: scale(1.1);
    transition: 1s;
    z-index: 30;
}

.about-2nd-story {
    background-color: #1A5319;
    min-height: 60vh;
    max-height: auto;
}

.Our-story {
    padding: 2%;
    width: 80%;
    background-color: rgb(192, 192, 42);
    /* background-color: rgb(172, 189, 20); */
    border-radius: 30px;
    display: block;
    margin: auto;
}

.About-meal-section {
    min-height: auto;
    max-height: auto;
    background-color: hsl(119, 54%, 21%);
    padding: 2% 2% 2% 0%;
}

.meal-about {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
}

.head-line {
    font-size: 4rem;
}

.work-head-line {
    font-size: 3rem;
}

.meal-image {
    align-items: center;
    display: block;
    margin: auto;
}

.meal-text {
    padding: 5% 3% 0% 3%;
}

.work-text {
    padding: 2% 3% 0% 3%;
}

.meal-text p {
    width: 90%;
}

.info-image {
    height: 500px;
    width: 400px;
}

.about-workout-section {
    min-height: auto;
    max-height: auto;
    background-color: hsl(119, 54%, 21%);
    padding: 2%;
}

.info-work-image {
    filter: drop-shadow(5px 5px 7px white);
    height: 400px;
    width: 400px;
}

.work-image-about {
    display: block;
    margin: auto;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .About-section {
        min-height: 45vh;
        max-height: auto;
    }

    .about-2nd-story {
        min-height: 51vh;
        max-height: auto;
        display: flex;
    }

    .info-image {
        height: 700px;
        width: 400px;
    }
}

@media (max-width: 767px) {
    .lorem {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 70px;
    }

    .info-image {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .about-2nd-story {
        min-height: 70vh;
        max-height: auto;
        display: flex;
    }

    .Our-story {
        padding: 5% 2%;
    }

    .head-line {
        font-size: 2rem;
    }

    .meal-about {
        flex-wrap: wrap;
    }

    .meal-text,
    .work-text {
        /* padding: 5% 3% 0% 3%; */
        width: 90%;
        margin: auto;
    }

    .extra-p {
        display: none;
    }

    .info-work-image {
        height: 250px;
        width: 250px;
    }
}