.marquee {
    height: 530px;
}

.carousel-item {
    height: 530px;
}

.add-image {
    object-fit: cover;
    height: 530px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .marquee {
        height: 451px;
    }

    .add-image {
        height: 450px;
    }

    .carousel-fade .carousel-item {
        height: auto;
    }
}

@media (max-width: 480px) {
    .marquee {
        height: auto;
    }

    .carousel-item {
        height: 230px;
    }

    .add-image {
        object-fit: cover;
        height: 218px;
    }

    .carousel-fade .carousel-item {
        height: auto;
    }
}