.marquee{
    height: 72vh;
}
.carousel-item{
    height: 501px;
}
.add-image{
    object-fit: cover;
    height: 501px;
}
@media (max-width: 480px) {
    .marquee{
        height: 30vh;
    }
    .carousel-item{
        height: 230px;
    }
    .add-image{
        object-fit: cover;
        height: 230px;
    }
}