.meal {
    height: 100vh;
    padding: 3% 2% 2% 2%;
    background-color: #1A5319;
    color: white;
}

.btn-outline-light {
    margin: 10px;
}

.active-meal {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 3%;
    height: 500px;
    justify-content: center;
    column-gap: 20px;
}

.card-rec {
    width: 350px;
    height: auto;
    box-shadow: 10px 10px 25px black;
}

.card-rec:hover {
    transform: scale(1.1);
    transition: 1s;
    background-color: rgb(215, 214, 214);
}
.card-img-top{
    height: 270px;
    color:black;
}
.card-title {
    height: auto;
    cursor: pointer;
    margin: 0% 1%;
    margin-bottom: 2%;
}

.contain-summry-pie {
    display: flex !important;
    flex-wrap: wrap;
    position: "relative"
}

.pie-chart-health {
    position: absolute;
    left: 35px;
    width: 100px;
    height: auto;
    cursor: pointer;
}

.diets-array {
    position: absolute;
    right: 0;
    width: 170px;
    cursor: pointer;
}

.diets-array-p {
    color: black;
    height: auto;
    width: 170px;
}

/* .css-1kza5gv-MuiResponsiveChart-container {
    width: 150px;
    height: 70px;
} */
.css-lyabzg-MuiResponsiveChart-container>svg {
    width: 100% !important;
    height: 81% !important;
}

.css-k7y545-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
    background-color: #0f360e !important;
    border-radius: 9px !important;
}

.css-lyabzg-MuiResponsiveChart-container {
    width: 150px;
    position: absolute;
    bottom: 15px;
    left: 9px;
}

.css-1u0lry5-MuiChartsLegend-root {
    display: none;
}

.btn-Add-to-meal {
    border-radius: 3px;
    background-color: #3c6b3b;
    flex-basis: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .meal {
        height: auto !important;
    }
    .active-meal {
        height: auto !important;
    }
    .card-rec {
        height: 474px;
    }
}


@media (max-width: 480px) {
    .meal {
        height: 1360px;
        padding: 6% 2% 2% 2%;
    }

    .card-rec {
        width: 300px;
        display: block;
        margin: auto;
        height: auto;
    }
    .card-rec:hover {
        transform: none;
        transition: 1s;
        background-color: rgb(215, 214, 214);
    }
    .card-img-top{
        height: 200px;
        color:black;
    }
    .contain-summry-pie {
        display: flex !important;
        flex-wrap: wrap;
        position: "relative";
    }

    .css-lyabzg-MuiResponsiveChart-container {
        width: 150px;
        position: absolute;
        bottom: 10px;
    }

    .css-k7y545-MuiButtonBase-root-MuiTab-root.Mui-selected {
        color: white !important;
        background-color: #0f360e !important;
        border-radius: 9px !important;
    }

    .active-meal {
        row-gap: 15px;
    }
    .pie-chart-health {
        position: absolute;
        left: 25px;
        width: 100px;
        height: auto;
        cursor: pointer;
    }

    .diets-array {
        width: 150px;
        height: auto;
    }

    .diets-array-p {
        width: 150px;
        height: auto;
    }

    .btn-Add-to-meal {
        margin-top: 80px;
    }
}