.Preference {
    height: auto;
    background-color: #1A5319;
    padding: 3% 0%;
    display: flex;
    column-gap: 60px;
}

.text-section {
    background-color: #1f7c22;
    height: auto;
    border-radius: 0% 50px 50px 0%;
    flex-basis: 65%;
    padding: 3%;
}

.text-section h2 {
    font-size: 4rem;
}

.text-section p {
    width: 800px;
}

.button-desk {
    background-color: #023702;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1% 10%;
}

.button-res {
    background-color: #023702;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1%;
    width: 170px;
    margin-left: 2%;
    display: none;
}

.image-section {
    background-color: #d9dc80;
    height: auto;
    border-radius: 50px 0px 0px 50px;
    flex-basis: 32%;
    position: relative;
}

.image-section img {
    height: 520px;
    position: absolute;
    bottom: -7px;
    filter: drop-shadow(5px 5px 10px black);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .Preference {
        min-height: 57vh;
        max-height: auto;
        flex-direction: column;
        row-gap: 30px;
        padding: 5% 0% 0% 0%;
        position: relative;
    }

    .text-section {
        background-color: #1f7c22;
        border-radius: 0% 50px 50px 0%;
        flex-basis: none;
        width: 90%;
    }
    .text-section p{
        width: 100%;
    }
    .image-section {
        background-color: #d9dc80;
        height: 180px;
        width: 29% !important;
        border-radius: 30px 0px 0px 30px;
        flex-basis: 32%;
        position: absolute;
        right: 0%;
        bottom: 10px;
    }

    .image-section img {
        height: 300px;
        position: absolute;
        bottom: 1px;
        left: 2px;
        filter: drop-shadow(5px 5px 10px black);
    }

    .button-desk {
        display: none;
    }

    .button-res {
        padding: 3% 5%;
        width: 270px;
        margin-left: 170px;
        margin-top: 30px;
        display: block;
    }
}

@media (max-width: 480px) {
    .Preference {
        min-height: 42vh;
        max-height: auto;
        flex-direction: column;
        row-gap: 30px;
        padding: 5% 0% 0% 0%;
        position: relative;
    }

    .text-section {
        background-color: #1f7c22;
        border-radius: 0% 50px 50px 0%;
        flex-basis: none;
        width: 98%;
        padding: 8%;
    }

    .text-section h2 {
        font-size: 2rem;
    }

    .text-section p {
        display: none;
    }

    .button-desk {
        display: none;
    }

    .button-res {
        display: block;
    }

    .image-section {
        background-color: #d9dc80;
        height: 110px;
        width: 155px !important;
        border-radius: 30px 0px 0px 30px;
        flex-basis: 32%;
        position: absolute;
        right: 0%;
        bottom: 0px;
    }

    .image-section img {
        height: 170px;
        position: absolute;
        bottom: 1px;
        left: 2px;
        filter: drop-shadow(5px 5px 10px black);
    }
}